/*
0-600px: Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
1200-1800px: normal styles
1800px+: Big Desktops
$breakpoint argument choice:
-phone
-tab-port
-tab-land
-big-desktop
1em = 16px(default)
*/
@import url("http://fonts.cdnfonts.com/css/apercu");
@-webkit-keyframes slideDown {
  0% {
    height: 25vh;
  }
  50% {
    height: 50vh;
  }
  100% {
    height: 100vh;
  }
}
@keyframes slideDown {
  0% {
    height: 25vh;
  }
  50% {
    height: 50vh;
  }
  100% {
    height: 100vh;
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: grey;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Apercu', sans-serif;
}

.main-body {
  background-color: #fff;
  min-height: 100vh;
  padding: 3rem 3rem 10rem 3rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.main-body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body_wrap {
  padding: 3rem;
  background-color: #e8e8e8;
  min-height: 100vh;
}

.main-section-heading {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-section-heading-small {
  margin-top: 5rem;
  font-size: 3rem;
}

.main-section-text {
  font-size: 1.6rem;
  width: 50%;
  text-align: center;
}

.about-company {
  width: 100%;
}

.about-company .image_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0;
  position: relative;
  margin-top: 2rem;
  margin-right: 5rem;
}

.about-company .image_wrap::after {
  content: '';
  display: block;
  width: 62%;
  height: 102%;
  position: absolute;
  top: 1rem;
  left: 17rem;
  border: 10px solid yellow;
  z-index: 1;
}

.about-company .image_wrap img {
  max-height: 70vh;
  margin-top: 5vh;
  position: relative;
  z-index: 2;
}

.about-company div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.about-company .owner-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-company .owner-info > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-left: 10rem;
}

.about-company .owner-info_hey {
  font-size: 3.5rem;
}

.about-company .owner-info_name {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.camera-icon {
  width: 200px;
}

.filled-button {
  padding: 1rem 1.5rem;
  border: 1px solid #000;
  width: 200px;
  text-align: center;
  margin-top: 2rem;
  color: #000;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.filled-button:hover {
  color: #fff;
  border: 1px solid transparent;
}

.filled-button:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.filled-button::after {
  content: 'KNOW MORE';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border: 1px solid #fff;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transform: translateX(-25rem);
          transform: translateX(-25rem);
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.filled-button_gallery::after {
  content: 'GALLERY';
}

.filled-button_portfolio::after {
  content: 'portfolio';
  text-transform: uppercase;
  -webkit-transform: translateX(25rem);
          transform: translateX(25rem);
}

.filled-button_insta-follow {
  width: 120px;
  padding: .75rem 1rem;
}

.filled-button_insta-follow::after {
  content: 'FOLLOW';
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
}

.divider-img {
  margin: 14vh 0;
}

.gallery-small {
  width: 90%;
}

.gallery-small_head {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 6rem;
}

.gallery-small_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12)[1fr];
      grid-template-columns: repeat(1fr, 12);
  -ms-grid-rows: (20vh)[4];
      grid-template-rows: repeat(4, 20vh);
  grid-gap: .7rem;
      grid-template-areas: "a a a a b b b b c c c c" "a a a a d d d m m m e e" "f f g g g g h h i i i i" "j j g g g g k k k k l l";
}

.gallery-small_content div {
  background: rgba(0, 0, 0, 0.4);
}

.gallery-small_image-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: a;
}

.gallery-small_image-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: b;
}

.gallery-small_image-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: c;
}

.gallery-small_image-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: d;
}

.gallery-small_image-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: e;
}

.gallery-small_image-6 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: f;
}

.gallery-small_image-7 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: g;
}

.gallery-small_image-8 {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-area: h;
}

.gallery-small_image-9 {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: i;
}

.gallery-small_image-10 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: j;
}

.gallery-small_image-11 {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-area: k;
}

.gallery-small_image-12 {
  -ms-grid-row: 4;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: l;
}

.gallery-small_image-13 {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-area: m;
}

.gallery-small_link-wrap {
  margin-top: 5.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  padding: 1rem 0 1rem 2rem;
  width: 100%;
}

.navbar .navbar-brand {
  font-size: 2rem;
  color: #fff;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.navbar-collapse {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link, .nav-link:link, .nav-link:visited {
  font-size: 1.4rem;
  margin: 0 15px;
  color: #fff !important;
  text-transform: uppercase;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: relative;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  letter-spacing: 2px;
}

.nav-link:hover, .nav-link:active {
  color: #ccc !important;
}

.nav-link::after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: -1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.nav-link:hover::after {
  width: 100%;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.nav-link_index {
  color: #8b8b8b;
  font-size: 1.2rem;
  margin-right: 10px;
}

.hamburger {
  margin: 0 1.5rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.hamburger-animated {
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-animation: slideDown .5s ease-in !important;
          animation: slideDown .5s ease-in !important;
}

.silder-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: -2;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-animation: none;
          animation: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.silder-nav .fa-times {
  position: absolute;
  top: 3rem;
  right: 5rem;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

.silder-nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.silder-nav_container img {
  width: 170px;
  height: 47px;
}

.small-divider {
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin-right: 1.5rem;
}

.slider-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-flex: .3;
      -ms-flex: .3;
          flex: .3;
  padding-top: 17rem;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

.slider-menu_social-icon {
  color: #fff;
  font-size: 2rem;
  margin: 2rem 1.5rem 0 1.5rem;
}

.slider-menu_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider-menu_row:not(:last-of-type) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider-menu_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-menu_col-1 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-menu_col-2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-menu_link {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 30px 0;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-menu_link:hover {
  color: #8b8b8b;
}

.slider-menu_index {
  color: #8b8b8b;
  font-size: 1.4rem;
  margin-right: 10px;
  position: relative;
}

.slider-menu_index::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2px;
  width: 2rem;
}

.slider-menu_logo {
  position: fixed;
  z-index: 5;
  top: 10rem;
  display: none;
}

.slider-menu_footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10rem;
  position: relative;
  z-index: 5;
}

.silder-menu_footer-link {
  color: #fff;
  font-size: 1.5rem;
}

.slider-menu_footer-link-head {
  font-size: 1.5rem;
  color: #8b8b8b;
}

#carouselExampleControls {
  position: relative;
  z-index: -2;
}

.carousel-inner {
  height: 100vh;
}

.carousel-item-1 {
  margin-top: -10rem;
}

.carousel-item-2 {
  margin-top: -14rem;
}

.carousel-item-3 {
  margin-top: -3rem;
}

.carousel-item-4 {
  margin-top: -10rem;
}

.carousel-item-image {
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.insta-follow {
  position: absolute;
  width: 25vh;
  height: 30vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.insta-follow_icon {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.4);
}

.insta-follow_id {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.7rem;
  margin-top: 1.2rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.insta-follow_id:hover {
  color: #000;
}

.photo-collage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-collage_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-collage_col-1 {
  -webkit-transform: translateY(15rem);
          transform: translateY(15rem);
}

.photo-collage_col-3 {
  -webkit-transform: translateY(9rem);
          transform: translateY(9rem);
}

.photo-collage_col-4 {
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
}

.photo-collage_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photo-collage_img {
  height: 30vh;
  min-width: 20rem;
}

.testimonials_row-2 .testimonials_col-text {
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
}

.testimonials_row-3 .testimonials_col .testimonials_img {
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
}

.testimonials_row-3 .testimonials_col-text {
  -webkit-transform: translateY(-2.3rem);
          transform: translateY(-2.3rem);
}

.testimonials_row-4 .testimonials_col .testimonials_img {
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
}

.testimonials_row-4 .testimonials_col-text {
  -webkit-transform: translate(-2rem, -6rem);
          transform: translate(-2rem, -6rem);
}

.testimonials_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials_row-odd {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonials_row-even {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonials_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials_col-odd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.testimonials_col-even {
  -webkit-transform: translate(0, -3rem);
          transform: translate(0, -3rem);
}

.testimonials_col-text {
  max-width: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0 1rem 1rem;
  text-align: justify;
}

.testimonials_col-text-odd {
  margin-left: 1.5rem;
}

.testimonials_img {
  max-height: 40vh;
  width: 40rem;
}

.testimonials_name {
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.testimonials_name::after {
  content: '';
  position: absolute;
  top: 105%;
  left: 0%;
  height: 2.5px;
  width: 25%;
  background-color: #000;
}

.testimonials_text {
  font-size: 1.6rem;
  margin-top: 2rem;
}
/*# sourceMappingURL=main.css.map */