/*
0-600px: Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
1200-1800px: normal styles
1800px+: Big Desktops
$breakpoint argument choice:
-phone
-tab-port
-tab-land
-big-desktop
1em = 16px(default)
*/
@import url("http://fonts.cdnfonts.com/css/apercu");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@-webkit-keyframes slideDown {
  0% {
    height: 25vh;
  }
  50% {
    height: 50vh;
  }
  100% {
    height: 100vh;
  }
}
@keyframes slideDown {
  0% {
    height: 25vh;
  }
  50% {
    height: 50vh;
  }
  100% {
    height: 100vh;
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

@media screen and (max-width: 786px) {
  .hide-mobile {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}

@media screen and (min-width: 787px) {
  .hide-pc {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}

html, body {
  overflow-x: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  padding: 1rem 0 1rem 2rem;
  width: 100%;
}

@media screen and (max-width: 786px) {
  .navbar {
    width: 100vw;
  }
  .navbar_container-fluid {
    margin-left: .5rem;
  }
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar .navbar-brand {
  font-size: 2rem;
  color: #fff;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.navbar-collapse {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link, .nav-link:link, .nav-link:visited {
  font-size: 1.4rem;
  margin: 0 15px;
  color: #fff !important;
  text-transform: uppercase;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: relative;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  letter-spacing: 2px;
}

.nav-link:hover, .nav-link:active {
  color: #ccc !important;
}

.nav-link::after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: -1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.nav-link:hover::after {
  width: 100%;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.nav-link_index {
  color: #8b8b8b;
  font-size: 1.2rem;
  margin-right: 10px;
}

.hamburger {
  margin: 0 1.5rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.hamburger-animated {
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-animation: slideDown .5s ease-in !important;
          animation: slideDown .5s ease-in !important;
}

.silder-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: -2;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-animation: none;
          animation: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.silder-nav .fa-times {
  position: absolute;
  top: 3rem;
  right: 5rem;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

.silder-nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.silder-nav_container img {
  width: 170px;
  height: 47px;
}

.small-divider {
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin-right: 1.5rem;
}

.slider-nav, .slider-nav_container {
  width: 100vw !important;
}

.slider-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-flex: .3;
      -ms-flex: .3;
          flex: .3;
  padding-top: 17rem;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

@media screen and (max-width: 786px) {
  .slider-menu {
    width: auto;
  }
}

.slider-menu_social-icon {
  color: #fff;
  font-size: 2rem;
  margin: 2rem 1.5rem 0 1.5rem;
}

.slider-menu_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider-menu_row:not(:last-of-type) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 786px) {
  .slider-menu_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.slider-menu_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-menu_col-1 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 786px) {
  .slider-menu_col-1 {
    width: 100%;
  }
}

.slider-menu_col-2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-menu_link {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 30px 0;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-menu_link:hover {
  color: #8b8b8b;
}

.slider-menu_index {
  color: #8b8b8b;
  font-size: 1.4rem;
  margin-right: 10px;
  position: relative;
}

.slider-menu_index::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2px;
  width: 2rem;
}

.slider-menu_logo {
  position: fixed;
  z-index: 5;
  top: 10rem;
  display: none;
}

.slider-menu_footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10rem;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 786px) {
  .slider-menu_footer {
    width: 80vw;
    text-align: center;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
}

.silder-menu_footer-link {
  color: #fff;
  font-size: 1.5rem;
}

.slider-menu_footer-link-head {
  font-size: 1.5rem;
  color: #8b8b8b;
}

#carouselExampleControls {
  position: relative;
  z-index: -2;
}

.carousel-inner {
  height: 100vh;
}

@media screen and (max-width: 786px) {
  .carousel-inner {
    height: auto;
  }
}

.carousel-item-1 {
  margin-top: -10rem;
}

@media screen and (max-width: 786px) {
  .carousel-item-1 {
    margin-top: 0;
  }
}

.carousel-item-2 {
  margin-top: -14rem;
}

@media screen and (max-width: 786px) {
  .carousel-item-2 {
    margin-top: 0;
  }
}

.carousel-item-3 {
  margin-top: -3rem;
}

@media screen and (max-width: 786px) {
  .carousel-item-3 {
    margin-top: 0;
  }
}

.carousel-item-4 {
  margin-top: -10rem;
}

@media screen and (max-width: 786px) {
  .carousel-item-4 {
    margin-top: 0;
  }
}

.carousel-item-image {
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.main-body_wrap {
  min-height: 100vh;
}

.section-heading_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 80vh;
}

@media (max-width: 56.25em) {
  .section-heading_wrap {
    height: auto;
  }
}

.section-heading_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
}

@media (max-width: 56.25em) {
  .section-heading_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.section-heading_img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .55;
      -ms-flex: .55;
          flex: .55;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #e31d3b;
}

.section-heading_img-wrap-about {
  background: url("../assets/gallery/2.jpg");
  background-size: cover;
  background-position-x: right;
}

.section-heading_img-wrap-service {
  background: url("../assets/gallery/18.jpg");
  background-size: cover;
  background-position-x: right;
}

.section-heading_img-wrap-gallery {
  background: url("../assets/gallery/13.jpg");
  background-size: cover;
  background-position-x: right;
  -webkit-box-flex: .535;
      -ms-flex: .535;
          flex: .535;
}

@media (max-width: 56.25em) {
  .section-heading_img-wrap {
    height: 60vh;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.section-heading_number {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 10rem;
  font-weight: 700;
}

.section-heading_gutter {
  -webkit-box-flex: .05;
      -ms-flex: .05;
          flex: .05;
}

.section-heading_text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .25;
      -ms-flex: .25;
          flex: .25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem;
}

.section-heading_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-transform: uppercase;
  font-size: 4rem;
  color: #404040;
  margin-bottom: 10vh;
}

@media (max-width: 56.25em) {
  .section-heading_head {
    margin-bottom: 5vh;
  }
}

.section-heading_head em {
  color: #e31d3b;
  font-size: 4rem;
  font-weight: 700;
  margin: 0 1.5rem;
}

.section-heading_text {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #c5c5c5;
  line-height: 5rem;
}

.section-content_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
}

@media (max-width: 56.25em) {
  .section-content_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.section-content_tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .55;
      -ms-flex: .55;
          flex: .55;
}

.section-content_quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .4;
      -ms-flex: .4;
          flex: .4;
  background-color: #e31d3b;
  padding: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-content_quote-icon {
  width: 10rem;
}

.section-content_quote-text {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 3rem;
  width: 80%;
}

.section-content_author {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.section-content_author em {
  color: #000;
  font-size: 1.4rem;
}

.about_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.about_fixed-left {
  height: 100%;
  width: 40vw;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../assets/gallery/6.JPG") no-repeat;
  background-size: cover;
  background-position: bottom;
}

.about_content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40vw;
  width: 60vw;
  background-color: #000;
  padding: 7rem 3rem;
}

.service_wrap {
  padding: 8rem;
}

.service_item {
  position: relative;
}

.service_item::after {
  content: '';
  position: absolute;
  top: 102%;
  left: 8px;
  width: 10%;
  height: 3px;
  background-color: #e31d3b;
}

.service_item-heading {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.service_item-heading em {
  color: #e31d3b;
  text-decoration: none;
}

.service_item-img {
  height: 30vh;
  width: 100%;
  background: url("../assets/gallery/7.JPG");
  background-size: cover;
  background-position-y: 80%;
  margin: 2rem 0;
}

.service_item-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.home-gallery_img-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-filter: grayscale(0%) !important;
          filter: grayscale(0%) !important;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.home-gallery_img-caption h2 {
  font-weight: 600;
}

.home-gallery_img-caption span {
  position: relative;
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
}

.home-gallery_img-caption span::after {
  content: '';
  position: absolute;
  top: 200%;
  left: 50%;
  height: 3px;
  width: 2rem;
  background-color: #e31d3b;
}

.home-gallery_col {
  cursor: pointer;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.home-gallery_col:hover .home-gallery_img-caption {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.home-gallery_row {
  min-height: 50vh;
}

.home-gallery_row-1 .home-gallery_img-1 {
  position: relative;
}

.home-gallery_row-1 .home-gallery_img-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/gallery/20.jpg");
  background-size: cover;
  background-position-x: 20%;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.home-gallery_row-1 .home-gallery_img-1:hover::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.home-gallery_row-1 .home-gallery_img-2 {
  position: relative;
}

.home-gallery_row-1 .home-gallery_img-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/gallery/11.jpg");
  background-size: cover;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.home-gallery_row-1 .home-gallery_img-2:hover::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.home-gallery_row-1 .home-gallery_img-3 {
  position: relative;
}

.home-gallery_row-1 .home-gallery_img-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/gallery/16.jpg");
  background-size: cover;
  background-position-x: right;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.home-gallery_row-1 .home-gallery_img-3:hover::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.home-gallery_row-1 .home-gallery_img-4 {
  position: relative;
}

.home-gallery_row-1 .home-gallery_img-4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/gallery/10.jpg");
  background-size: cover;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.home-gallery_row-1 .home-gallery_img-4:hover::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.home-gallery_row-2 .home-gallery_img-1 {
  position: relative;
}

.home-gallery_row-2 .home-gallery_img-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/gallery/22.jpg");
  background-size: cover;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.home-gallery_row-2 .home-gallery_img-1:hover::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.home-gallery_row-2 .home-gallery_img-2 {
  position: relative;
}

.home-gallery_row-2 .home-gallery_img-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/gallery/21.jpg");
  background-size: cover;
  background-position-x: center;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.home-gallery_row-2 .home-gallery_img-2:hover::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.home-gallery_row-2 .home-gallery_img-3 {
  position: relative;
}

.home-gallery_row-2 .home-gallery_img-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/gallery/3.jpg");
  background-size: cover;
  background-position-x: right;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.home-gallery_row-2 .home-gallery_img-3:hover::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.home-gallery_row-2 .home-gallery_img-4 {
  position: relative;
}

.home-gallery_row-2 .home-gallery_img-4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/gallery/23.jpg");
  background-size: cover;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.home-gallery_row-2 .home-gallery_img-4:hover::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
/*# sourceMappingURL=main.css.map */