.main-body_wrap {
    min-height: 100vh;
}

.section { 

&-heading{
    &_wrap {
        display: flex;
        width: 100vw;
        height: 80vh;

        @include respond(tab-port){
            height: auto;
        }
    }

    &_row {
        display: flex;
        width: 100%;
        height: 80vh;

        @include respond(tab-port){
            flex-direction: column;
            height: auto;
        }
    }

    &_img-wrap {
        display: flex;
        flex: .55;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: $color-primary-red;

        &-about {
            background: url('../assets/gallery/2.jpg');
            background-size: cover;
            background-position-x: right;
        }

        &-service  {
            background: url('../assets/gallery/18.jpg');
            background-size: cover;
            background-position-x: right;
        }

        &-gallery {
            background: url('../assets/gallery/13.jpg');
            background-size: cover;
            background-position-x: right;
            flex: .535;
        }

        &-testimonials  {
            background: url('../assets/gallery/1.jpg');
            background-size: cover;
            flex: .535;
        }

        &-contact {
            background: url('../assets/gallery/8.jpg');
            background-size: cover;
            flex: .535;
        }

        @include respond(tab-port){
            height: 60vh;
            flex: auto;
        }
    }

    &_number {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        font-size: 10rem;
        font-weight: 700;
    }

    &_gutter {
        flex: .05;
    }

    &_text-wrap {
        display: flex;
        flex: .25;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5rem;
    }

    &_head {
        display: flex;
        align-self: flex-start;
        text-transform: uppercase;
        font-size: 4rem;
        color: #404040;
        margin-bottom: 10vh;

        @include respond(tab-port){
            margin-bottom: 5vh;
        }

        & em {
            color: $color-primary-red;
            font-size: 4rem;
            font-weight: 700;
            margin: 0 1.5rem;
        }
    }

    &_text {
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #c5c5c5;
        line-height: 5rem;
    }
}

&-content {
    &_row {
        display: flex;
        width: 100%;
        height: 80vh;

        @include respond(tab-port){
            flex-direction: column;
            height: auto;
        }
    }

    &_tabs {
        display: flex;
        flex: .55;
    }

    &_testimonials {
        display: flex;
        flex: .5;
        background-color: #f7f7f7;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5rem;

        @media screen and (max-width:990px) {
            & {
                padding: 5rem 5rem 0 5rem;
            }
        }

        &-item {
            display: flex;
            height: 50%;
            align-items: center;
            padding-top: 4rem;    
        
        @media screen and (max-width:990px) {
            & {
            padding: 5rem 0;
            }
        }

            & img {
                width: 100px;
                height: 100px;        
            }

            &_text {
                position: relative;
                padding: 0 4rem;
                & svg {
                    width: 5rem;
                    height: 5rem;
                    position: absolute;
                    top: -8rem;

                    & path {
                        fill: $color-primary-red;
                    }
                }

                & p {
                    font-size: 1.6rem;
                    font-weight: 500;
                }

                & h4 {
                    font-size: 1.6rem;
                    font-weight: 600;
                }

                & span {
                    font-size: 1.3rem;
                }
            }
        }
    }

    &_quote {
        display: flex;
        flex: .4;
        background-color: $color-primary-red;
        padding: 5rem;
        flex-direction: column;
        justify-content: center;

        &-icon {
            width: 10rem;
        }

        &-text {
            color: #fff;
            font-size: 2rem;
            font-weight: 500;
            padding: 3rem;
            width: 80%;
        }
    }

    &_author {
        color: #fff;
        font-size: 1.6rem;
        text-transform: uppercase;
        
        & em {
            color: #000;
            font-size: 1.4rem;
        }
    }
}
}