#carouselExampleControls{
    position: relative;
    z-index: -2;
}

.carousel {
    &-inner {
        height: 100vh;
    }

    @media screen and (max-width: 786px){
        &-inner {
            height: auto;
        }
    }
} 

.carousel-item-1 {
    margin-top: -10rem;
    @media screen and (max-width: 786px) {
        & {
            margin-top: 0;
        }
    }
}

.carousel-item-2 {
    margin-top: -14rem;
    @media screen and (max-width: 786px) {
        & {
            margin-top: 0;
        }
    }
}

.carousel-item-3 {
    margin-top: -3rem;
    @media screen and (max-width: 786px) {
        & {
            margin-top: 0;
        }
    }
}

.carousel-item-4 {
    margin-top: -10rem;
    @media screen and (max-width: 786px) {
        & {
            margin-top: 0;
        }
    }
}

.carousel-item-image {
    background-size: cover;
    height: 100vh;
    width: 100vw;
}