#carouselExampleControls{
    position: relative;
    z-index: -2;
}

.carousel {
    &-inner {
        height: 100vh;
    }
} 

.carousel-item-1 {
    margin-top: -10rem;
}

.carousel-item-2 {
    margin-top: -14rem;
}

.carousel-item-3 {
    margin-top: -3rem;
}

.carousel-item-4 {
    margin-top: -10rem;
}

.carousel-item-image {
    background-size: cover;
    height: 100vh;
    width: 100vw;
}