.about {
    &-page {
        min-height: 100vh; //test
        font-family: 'Poppins', sans-serif;

        @media screen and (min-width: 992px){
            & {
                padding-top: 8vh;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 8vh;
                z-index: -10;
                background: rgba(0,0,0,.7);
            }
        }

        & .container {
            display: flex;
            min-height: 92vh;
            align-items: center;
            justify-content: center;

            @include respond(tab-port){
               flex-direction: column;
             }
        }

        &_img {
            display: flex;
            flex: .4;
            background: url('../assets/pratik.jpg');
            background-size: cover;
            height: 82.2vh;

            @include respond(tab-port){
                flex: none;
                width: 100vw;
             }

             
        }    

        &_gallery {
            display: flex;
            flex: .5;
            flex-direction: column;
            position: relative;
            margin-top: -24rem;

            @include respond(tab-port){
               margin: 0;
               margin-bottom: 33vh;
               margin-right: 14vw;
            }

            &-item {
                border-radius: 2rem;
                overflow: hidden;

                &-1 {
                    width: 32rem;
                    height: 40rem;
                    background: url('../assets/about1.jpg');
                    background-size: cover;
                    position: relative;
                    z-index: 2;
                }

                &-2 {
                    width: 24rem;
                    height: 16rem;
                    background: url('../assets/about2.jpg');
                    background-size: cover;
                    position: absolute;
                    top: 4%;
                    left: 48%;
                    z-index: 3;
                }

                &-3 {
                    width: 26rem;
                    height: 39rem;
                    background: url('../assets/about3.jpg');
                    background-size: cover;
                    position: absolute;
                    top: 77%;
                    left: 44%;
                    z-index: 1;
                }

                &-4 {
                    width: 28rem;
                    height: 19rem;
                    background: url('../assets/about4.jpg');
                    background-size: cover;
                    position: absolute;
                    top: 115%;
                    left: 10%;
                    z-index: 0;
                }
            }
        }

        &_intro {
            display: flex;
            flex: .4;
            flex-direction: column;
            padding: 4rem;

            &-topic {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1.5rem;
                letter-spacing: 4px;
            }

            &-head {
                color: #1B1B1B;
                font-size: 5rem;
                font-weight: 700;
                text-transform: capitalize;
                line-height: 1.3em;
                margin: 2rem 0;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 110%;
                    left: 0;
                    width: 20%;
                    height: 3px;
                    background-color: $color-primary-red;
                }
            }

            &-text {
                &-wrap {
                    margin: 4rem 0;
                    display: flex;
                    justify-content: space-between;
                }

                &-col {
                    display: flex;
                    flex: .48;
                    font-size: 1.5rem;
                    line-height: 3rem;
                    color: #333;
                }
            }
        }

        &_quote {
            margin-top: 5vh;
            text-align: center;
            height: 95vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #000;
            color: #fff;

            &-main {
                color: #fff;
                font-size: 6rem;
                font-weight: 400;
                line-height: 1.5em;

                @media screen and (max-width:900px) {
                    & {
                        font-size: 4rem;
                        padding: 4rem;
                    }
                }
            }

            &-author {
                display: flex;
                margin-top: 3rem;

                & img {
                    border-radius: 50%;
                    border: 2px solid $color-primary-red;
                    margin-right: 1rem;
                }

                &-text {

                    & h3{
                        font-size: 2rem;
                        font-weight: 500;
                    }

                    & span {
                        color: #999999;
                        font-size: 1.6rem;
                    }
                }
            }
        }

        &_footer {
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $color-primary-red;
            color: #fff;

            &-top {
                color: #FFFFFF;
                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: 1px;
            }

            & h2 {
                font-size: 4.5rem;
                font-weight: 700;
                margin-top: 2rem;

                @include respond(tab-port) {
                    & {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 4vh;
                    }
                }
            }

            &-bottom {
                color: #000;
                border-bottom: 3px solid black;
            }
        }
    }


}