.service {
    &_wrap {
        padding: 8rem;
    }

    &_item {
        position: relative;

        @media screen and (max-width:998px){
            &:not(:last-of-type) {
                margin-bottom: 4rem;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 102%;
            left: 8px;
            width: 10%;
            height: 3px;
            background-color: $color-primary-red;
        }

        &-heading {
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;

            & em {
                color: $color-primary-red;
                text-decoration: none;
            }
        }

        &-img {
            height: 30vh;
            width: 100%;
            background: url('../assets/gallery/7.JPG');
            background-size: cover;
            background-position-y: 80%;
            margin: 2rem 0;
        }

        &-text {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

.home-gallery {
    $c: &; 

    &_img-caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        filter: grayscale(0%) !important;
        transform: scale(0);
        opacity: 0;
        transition: all .3s ease;

        & h2 {
            font-weight: 600;
        }

        & span {
            position: relative;
            font-size: 1.5rem;
            margin: 2rem 0 0 0;
        }

        & span::after {
            content: '';
            position: absolute;
            top: 200%;
            left: 50%;
            height: 3px;
            width: 2rem;
            background-color: $color-primary-red;
        }
    }

    &_col {
        cursor: pointer;
        transition: all .4s ease-in;

        @media screen and (max-width: 990px) {
            & {
                height: 70vh;
            }
        }
    }

    &_col:hover #{$c}_img-caption {
        transform: scale(1);
        opacity: 1;
    }

    &_row {
        min-height: 50vh;

        &-1 {
            
            & #{$c}_img-1 {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../assets/gallery/20.jpg');
                    background-size: cover;
                    background-position-x: 20%;
                    transition: all .4s ease-in;
                }

                &:hover::before {
                    filter: grayscale(100%);
                }
            }

            & #{$c}_img-2 {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../assets/gallery/11.jpg');
                    background-size: cover;
                    transition: all .4s ease-in;
                }

                &:hover::before {
                    filter: grayscale(100%);
                }
                
            }

            & #{$c}_img-3 {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../assets/gallery/16.jpg');
                    background-size: cover;
                    background-position-x: right;
                    transition: all .4s ease-in;
                }

                &:hover::before {
                    filter: grayscale(100%);
                }
            }

            & #{$c}_img-4 {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../assets/gallery/10.jpg');
                    background-size: cover;
                    transition: all .4s ease-in;
                }

                &:hover::before {
                    filter: grayscale(100%);
                }
            }

        }

        &-2 {

            & #{$c}_img-1 {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../assets/gallery/22.jpg');
                    background-size: cover;
                    transition: all .4s ease-in;
                }

                &:hover::before {
                    filter: grayscale(100%);
                }
            }

            & #{$c}_img-2 {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../assets/gallery/21.jpg');
                    background-size: cover;
                    background-position-x: center;
                    transition: all .4s ease-in;
                }

                &:hover::before {
                    filter: grayscale(100%);
                }
            }

            & #{$c}_img-3 {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../assets/gallery/3.jpg');
                    background-size: cover;
                    background-position-x: right;
                    transition: all .4s ease-in;
                }

                &:hover::before {
                    filter: grayscale(100%);
                }
            }

            & #{$c}_img-4 {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../assets/gallery/23.jpg');
                    background-size: cover;
                    transition: all .4s ease-in;
                }

                &:hover::before {
                    filter: grayscale(100%);
                }
            }

        }
    }


}

.one-liner {
    &_row {
        min-height: 50vh;
    }

    &_col {

        @media screen and (max-width:1000px) {
            &-wrap {
                display: flex;
                flex: 1;
                flex-direction: column;

                &-reverse {
                    flex-direction: column-reverse;
                }
            }
        }

        &-img {

            &-1 {
                background: url('../assets/gallery/4.jpg');
                background-size: cover;
                background-position-x: center;
            }

            &-2 {
                background: url('../assets/gallery/15.jpg');
                background-size: cover;
                background-position-x: center;
            }

            &-3 {
                background: url('../assets/gallery/18.jpg');
                background-size: cover;
                background-position-x: right;
            }

            &-4 {
                background: url('../assets/gallery/20.jpg');
                background-size: cover;
                background-position-x: 30%;            }

        }

        &-text {
            position: relative;
            transition: transform .4s ease-in-out;
        }

    }

    &_caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        padding: 0 2rem;

        & h2 {
            font-weight: 600;
        }

        & span {
            position: relative;
            font-size: 1.5rem;
            margin: 2rem 0 0 0;
        }

        & span.after {
            height: 3px;
            width: 2rem;
            background-color: $color-primary-red;
        }
    }
}

.contact {

    &_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &_item {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        margin: 2rem 0;
        padding: 0 3.5rem;

        &:hover {
            color: #fff;
        }

        &-icon {
            font-size: 4rem;
            margin-right: 2rem;
        }

        &-text {
            text-transform: uppercase;

            & h3 {
                font-size: 2.2rem;
                font-weight: 600;
            }

            & span {
                font-size: 1.5rem;
            }
        }
    }
}

.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid $color-primary-red; }
  
  textarea.feedback-input {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  .small-form_submit {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:$color-primary-red;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  .small-form_submit:hover { background:$color-primary-red; }