.main {
    &-body {
        background-color: #fff;
        min-height: 100vh;
        padding: 3rem 3rem 10rem 3rem;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.4);

        & section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &_wrap {
            padding: 3rem;
            background-color: #e8e8e8;
            min-height: 100vh;
        }
    }

    &-section {
        &-heading {
            font-size: 4.5rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;

            &-small{
                margin-top: 5rem;
                font-size: 3rem;
            }
        }

        &-text {
            font-size: 1.6rem;
            width: 50%;
            text-align: center;
        }
    }
}

.about-company {
    width: 100%;

    @media screen and (max-width: 786px){
        & {
            flex-direction: column;
        }
    }

    & .image_wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2.5rem 0;
        position: relative;
        margin-top: 2rem;
        margin-right: 5rem;

        &::after {
            content: '';
            display: block;
            width: 62%;
            height: 102%;
            position: absolute;
            top: 1rem;
            left: 17rem;
            border: 10px solid yellow;
            z-index: 1;
        }
    }

    & .image_wrap img {
        max-height: 70vh;
        margin-top: 5vh;
        position: relative;
        z-index: 2;
        max-width: 90%;
    }

    & div {
        display: flex;
        flex: 0.5;
    }

    & .owner-info {
        flex-direction: column;

        & > * {
            display: flex;
            flex-shrink: 1;
            margin-left: 10rem;
        }

        &_hey {
            font-size: 3.5rem;
        }
        
        &_name {
            font-size: 4.8rem;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}

.camera-icon {
    width: 200px;
}

.filled-button {
    padding: 1rem 1.5rem;
    border: 1px solid #000;
    width: 200px;
    text-align: center;
    margin-top: 2rem;
    color: #000;
    transition: all .4s ease-in-out;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.filled-button:hover {
    color: #fff;
    border: 1px solid transparent;
}

.filled-button:hover::after{
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
}

.filled-button::after {
    content: 'KNOW MORE';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border: 1px solid #fff;
    transition: all 1s ease-out;
    transform: translateX(-25rem);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.filled-button_gallery::after {
    content: 'GALLERY';
}

.filled-button_portfolio::after {
    content: 'portfolio';
    text-transform: uppercase;
    transform: translateX(25rem);
}

.filled-button_insta-follow {
    width: 120px;
    padding: .75rem 1rem;
}

.filled-button_insta-follow::after {
    content: 'FOLLOW';
    transform: translateY(20rem);
}

.divider-img {
    margin: 14vh 0;
}

.gallery-small {
    width: 90%;

    &_head {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 6rem;
    }

    &_content{
        display: grid;
        grid-template-columns: repeat(1fr, 12);
        grid-template-rows: repeat(4, 20vh);
        grid-gap: .7rem;
        grid-template-areas: 
        "a a a a b b b b c c c c"
        "a a a a d d d m m m e e"
        "f f g g g g h h i i i i"
        "j j g g g g k k k k l l"
        ;

        & div {
            background: rgba(0,0,0,.4);
        }
    }

    &_image-1 {
        grid-area: a;
    }

    &_image-2 {
        grid-area: b;
    }

    &_image-3 {
        grid-area: c;
    }

    &_image-4 {
        grid-area: d;
    }

    &_image-5 {
        grid-area: e;
    }

    &_image-6 {
        grid-area: f;
    }

    &_image-7 {
        grid-area: g;
    }

    &_image-8 {
        grid-area: h;
    }

    &_image-9 {
        grid-area: i;
    }

    &_image-10 {
        grid-area: j;
    }

    &_image-11 {
        grid-area: k;
    }

    &_image-12 {
        grid-area: l;
    }

    &_image-13 {
        grid-area: m;
    }

    &_link-wrap {
        margin-top: 5.5rem;
    }
}